* {
    margin: 0;
    padding: 0;
}

.dish-table {
    padding-top: 2em;
    width: 200px;
}

.div-navbar {
    padding-bottom: 2em;
}


/* Images Row */
body, html {
    margin: 0;
    height: 100%;
}

.image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
